<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>Desenvolvimento Web</th>
                <th>Desenvolvimento-Web</th>
                <th></th>
            </tr>
        </tbody>
    </table>
</div>
<%- include ('../../partials/footer.ejs') %>