<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container">
    <div class="card">
        <div class="card-header">
            Cadastro de categoria
        </div>
        <div class="card-body">
            <form>
                <input class="form-control" type="text" name="categorie" placeholder="Informe uma categoria"><br>
                <button class="btn btn-success">
                    Cadastrar
                </button>
            </form>
        </div>
    </div>
</div>
<%- include ('../../partials/footer.ejs') %>